.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  padding: 18px;
}
.warning:before {
  content:'\26A0';
  margin-right: 9px;
}

h2, h3{
  margin-top: 20px;
  margin-bottom: 5px;

}
h2{
  clear: both;
}
p{
  margin-bottom: 10px
}
